.control-pop-up-block {
  z-index: 999;
  position: absolute;
  left: 1vmin;
  opacity: 0.2;
}

.top-pos {
  top: 1vmin;
}

.bottom-pos {
  bottom: 1vmin;
}

.cheat-image {
  width: 33.5vmin;
  height: 25vmin;
}